name: CI - Integração Contínua

on:
  push:
    branches: [ develop, main ]
  pull_request:
    branches: [ develop, main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    # 1. Baixa o código do repositório
    - name: Checkout do código
      uses: actions/checkout@v3

    # 2. Instala o Node.js
    - name: Configurar Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'

    # 3. Instala as dependências
    - name: Instalar Dependências
      run: npm install

    # 4. Roda os Testes (Requisito da N3)
    # Isso vai rodar o comando "test" definido no seu package.json
    - name: Rodar Testes Unitários
      run: npm test

    # 5. Roda o Lint (Análise Estática - Requisito da N3)
    # O "--if-present" faz ele só rodar se você tiver configurado o script "lint"
    # Se não tiver configurado, ele não dá erro, apenas pula.
    - name: Análise de Código (Lint)
      run: npm run lint --if-present
